@font-face {
    font-family: 'BebasNeue';
    src: url('../resources/BebasNeue/bebasneue_book-webfont.woff2') format('woff2'),
         url('../resources/BebasNeue/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BebasNeue';
    src: url('../resources/BebasNeue/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../resources/BebasNeue/bebasneue_regular-webfont.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../resources/BebasNeue/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../resources/BebasNeue/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i');