/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "fonts";

$black:  #3a3739;
$red:    #ce4148;
$orange: #cc5f42;
$yellow: #e5d849;
$lgreen: #91C960;
$green:  #58bd7f;
$blue:   #56c0a3;

html, body {
  color: $black;
  font-family: Lato;
}
h1 {
  font-family: BebasNeue;
  font-weight: bold;
  font-size: 32.22pt;
  text-transform: uppercase;
}
h2 {
  font-family: BebasNeue;
  font-weight: normal;
  font-size: 21.87pt;
  text-transform: uppercase;
}
a {
  color: $black;
  text-decoration: none;
  @include transition(color 0.1s ease-out);
  &:hover {
    color: $lgreen;
  }
}
b {
  font-weight: bold;
}
#button-code:hover {
  color: $red;
}
#button-design:hover {
  color: $blue;
}
#button-make:hover {
  color: $yellow;
}
#main {
  margin: 230px auto 0 auto;
  width: 960px;
  #main-logo {
    display: block;
    margin: 0 auto;
    width: 282px;
    img {
      width: 282px;
    }
    svg {
      width: 282px;
      position: absolute;
      z-index: -1;
      .st0{fill:#17B24C;@include transition(fill 0.5s ease-out);}
      .st1{fill:#C0DC8E;@include transition(fill 0.5s ease-out);}
      .st2{fill:#91C960;@include transition(fill 0.5s ease-out);}
      .st3{fill:#6BBE51;@include transition(fill 0.5s ease-out);}
      .st4{fill:#47B74C;@include transition(fill 0.5s ease-out);}
      .st5{fill:#00AE4D;@include transition(fill 0.5s ease-out);}
    }
  }
  h1 {
    margin: 10px 0 0 0;
    text-align: center;
  }
  #descriptors {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    .desciptor {
      float: left;
      width: 33%;
      a {
        display: block;
        text-align: center;
        width: 100%;
      }
      &.center {
        position: relative;
        &:before {
          background: $black;
          content: '';
          display: block;
          left: -7px;
          top: 6px;
          position: absolute;
          width: 2px;
          height: 15px;
          @include border-radius(2px);
        }
        &:after {
          background: $black;
          content: '';
          display: block;
          right: -7px;
          top: 6px;
          position: absolute;
          width: 2px;
          height: 15px;
          @include border-radius(2px);
        }
      }
    }
  }
  #info {
    width: 200px;
    margin: 5px auto;
    display:                 flex;
    display:                 -webkit-flex;
    flex-wrap:               wrap;
    -webkit-flex-wrap:       wrap;
    flex-flow: space-between;
    justify-content:         center;
    -webkit-justify-content: center;
    a {
      display: inline-block;
      margin: 2px 6px;
      width: 51px;
    }
    #contact {
      text-align: right;
    }
    #resume {
      text-align: left;
    }
    #github {
      margin-top: 0;
      width: 20px;
      position: relative;
      img {
        width: 20px;
      }
      &:before {
        background: $black;
        content: '';
        display: block;
        left: -7px;
        top: 6px;
        position: absolute;
        width: 1.2pt;
        height: 9px;
        @include border-radius(2px);
      }
      &:after {
        background: $black;
        content: '';
        display: block;
        right: -7px;
        top: 6px;
        position: absolute;
        width: 1.2pt;
        height: 9px;
        @include border-radius(2px);
      }
    }
    h2 {
      font-size: 14pt;
      text-align: center;
    }      
  }
}
#contact-information {
  margin: 0 auto 10px auto;
  padding: 3px 0;
  text-align: center;
  width: 220px;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;  
}