/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "fonts";

$black:  #3a3739;
$red:    #ce4148;
$orange: #cc5f42;
$yellow: #d8cd4e;
$lgreen: #a7d05e;
$green:  #58bd7f;
$blue:   #56c0a3;

html, body {
  color: $black;
  font-family: Lato;
}
h1 {
  font-family: BebasNeue;
  font-weight: bold;
  font-size: 32.22pt;
  text-transform: uppercase;
}
h2 {
  font-family: BebasNeue;
  font-weight: thin;
  font-size: 21.87pt;
  text-transform: uppercase;
}

#main {
  margin: 230px auto 0 auto;
  width: 960px;
  #main-logo {
    display: block;
    margin: 0 auto;
    width: 282px;
  }
  h1 {
    margin: 10px 0 7px 0;
    text-align: center;
  }
  #descriptors {
    // background: #a21;
    width: 300px;
    margin: 0 auto;
    .desciptor {
      // background: #1d2;
      float: left;
      width: 33%;
      a {
        display: block;
        // background: #3ae;
        color: $black;
        text-align: center;
        text-decoration: none;
        width: 100%;
      }
      &.center {
        position: relative;
        &:before {
          background: $black;
          content: '';
          display: block;
          left: -6px;
          top: 6px;
          position: absolute;
          width: 2px;
          height: 15px;
          @include border-radius(2px);
        }
        &:after {
          background: $black;
          content: '';
          display: block;
          right: -6px;
          top: 6px;
          position: absolute;
          width: 2px;
          height: 15px;
          @include border-radius(2px);
        }
      }
    }
  }
}