@keyframes slideUp { 
  0% { left: -40px; } 
  100% { left: 0; }
}

@keyframes slideDown { 
  0% { left: 40px; } 
  100% { left: 0; }
}

@keyframes scaleIn { 
  0% { transform: scale(0.8); } 
  100% { transform: none; }
}

.MainLinks {
	position: absolute;
	text-align: center;
	perspective: 45px;
	.link {
		text-transform: uppercase;
		z-index: 1;
		position: relative;
		font-size: 7em;
		line-height: 0.9em;
		cursor: pointer;
		display: inline-block;
		transition: transform 0.25s cubic-bezier(.12,.26,.16,.9);
		&:after {
			content: '';
			position: absolute;
			width: 0px;
			height: 4px;
			border-radius: 5px;
			background: #1e1e1e;
			left: -30px;
			top: calc(50% - 2px);
			transition: width 0.25s ease;
		}
		&:before {
			content: '';
			position: absolute;
			width: 0px;
			height: 4px;
			border-radius: 5px;
			background: #1e1e1e;
			right: -30px;
			top: calc(50% - 2px);
			transition: width 0.25s ease;
		}
		&:hover {
			transform: scale(1.1);
			&:before {
				width: 20px;
			}
			&:after {
				width: 20px;
			}
		}
		&.front {
			font-size: 7.2em;
			z-index: 3;
			line-height: 0.8em;
			animation: 0.4s ease scaleIn;
		}
		&.top {
			animation: 0.4s ease slideUp;
			&:hover {
				transform: scale(1.07) translateY(-3px);
			}
		}
		&.bottom {
			animation: 0.4s ease slideDown;
			&:hover {
				transform: scale(1.07) translateY(3px);
			}
		}
	}
	.link-plane {
		width: 100%;
		height: 0;
		perspective-origin: center;
		position: relative;
		&:after {
			content: '';
			width: 35%;
			height: 24px;
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}
	.link-plane.middle::after {
		width: 40%;
	}

	.teal::after {
		background: #5FF2D6;
		transform: translate(-50%, -20%) rotateX(-60deg);
		z-index: 0;
		height: 20px;
	}

	.blue {
		margin-top: 7px;
		&:after {
			background: #4040CC;
			transform: translate(-50%, -50%) rotateX(-60deg);
			z-index: 2;
		}
	}

	.yellow {
		margin-bottom: 7px;
		&:after {
			background: #FCDA69;
			transform: translate(-50%, -50%) rotateX(60deg);
			z-index: 2;
		}
	}

	.red::after {
		background: #FC4C5D;
		z-index: 0;
		transform: translate(-50%, -80%) rotateX(60deg);
		height: 20px;
	}
}

@media only screen and (max-width: 600px)  {
	.MainLinks {
		.links {
			top: 45%;
		}
		.link {
			font-size: 4em;
			&.front {
				font-size: 4.3em; 
			}
		}
	}
}