@import url('https://fonts.googleapis.com/css?family=Raleway:300,900');

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color: #1E1E1E;
	margin: 0;
	padding: 0;
}

.container {
	width: calc(100vw - 16vh);
	height: calc(100vh - 16vh);
	margin: 8vh 8vh;
	position: relative;
}

.name {
	position: absolute;
	bottom: 0;
	left: 0;
	span {
		display: block;
		font-size: 5em;
		text-transform: uppercase;
		line-height: 0.85em;
	}
	.blurb {
		font-size: 1.4em;
		font-weight: 500;
		margin-top: 2px;
	}
}